body {
  min-height: 100vh;
  overflow-x: hidden;
}

ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
